[submodule "vim/bundle/skittles_berry"]
	path = vim/bundle/skittles_berry
	url = https://github.com/shawncplus/skittles_berry.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/syntactic"]
	path = vim/bundle/syntactic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/indentpython.vim"]
	path = vim/bundle/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "vim/bundle/pydiction"]
	path = vim/bundle/pydiction
	url = https://github.com/rkulla/pydiction.git
[submodule "vim/bundle/vim-unimpared"]
	path = vim/bundle/vim-unimpared
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundle/AutoComplPop"]
	path = vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "vim/bundle/vim-togglelist"]
	path = vim/bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/powerline/powerline
[submodule "vim/bundle/vim-ingo-library"]
	path = vim/bundle/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
	branch = stable
[submodule "vim/bundle/vim-SyntaxRange"]
	path = vim/bundle/vim-SyntaxRange
	url = https://github.com/inkarkat/vim-SyntaxRange
	branch = stable
