[submodule "vim/bundle/skittles_berry"]
	path = vim/bundle/skittles_berry
	url = git://github.com/shawncplus/skittles_berry.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/syntactic"]
	path = vim/bundle/syntactic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/indentpython.vim"]
	path = vim/bundle/indentpython.vim
	url = git://github.com/vim-scripts/indentpython.vim.git
[submodule "vim/bundle/pydiction"]
	path = vim/bundle/pydiction
	url = git://github.com/rkulla/pydiction.git
[submodule "vim/bundle/vim-unimpared"]
	path = vim/bundle/vim-unimpared
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
